@font-face {
    font-family: 'W95FA';
    src: url(/Assets/Fonts/W95FA/w95fa.woff);
}

html{
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body{
    box-sizing: border-box;
    color: white;
    margin: 0;
    background-image: url(/Assets/BG/spaceBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

h1{
    font-size: 3.5rem;
    font-family: 'W95FA','Times New Roman', Times, serif;    
    animation: colours 3s ease-in-out infinite;
    text-decoration: underline;

}

h2{
    font-size: 2.5rem;
    text-decoration: underline;
}

/* pseudoselector que al pasar raton por encima cambia de color, para hacerlo más divertido y llamativo*/
h2:hover{
    animation: colours 2s linear infinite;
    cursor: pointer;
}

p{
    font-size: 2rem;
    margin: 0;
}

div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px auto;
    box-shadow: 10px 15px 15px rgb(137, 136, 153);
    margin-top: 50px;
    background: rgb(3,0,36);
    background: linear-gradient(180deg, rgba(3,0,36,1) 0%, rgba(9,13,121,1) 80%, rgba(21,0,255,1) 100%);
    border-radius: 10px;
}
    

p:hover{
    animation: colours 2s linear infinite;
    cursor: pointer;
}

  @keyframes colours{
    10%{color: red;}
    22%{color:blue }
    44%{color: purple;}
    66%{color: orange;}
    88%{color: aqua;}
    100%{color: yellow;}
  }
  
  



